.wrapper {
  max-width: $content-width-desktop;
  margin: 0 auto;
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .wrapper {
    max-width: $content-width-tablet;
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .wrapper {
    max-width: $content-width-mobile;
  }
}
