.header {
  .header__wrapper {
    position: relative;
    padding: 15px 135px 16px 135px;
    position: relative;
    @include alignment(space-between, flex-start, column, nowrap);
    width: 100%;

    .header__logo {
      position: absolute;
      top: 19px;
      left: 240px;
      @include alignment(center, center, column, nowrap);
      width: 210px;
      height: 111px;
      background-color: $logo-bg-color;
      transform: translateX(-50%);

      .logo__image {
        width: 94px;
        height: 94px;
        background-image: url('./assets/icons/logo.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      .logo__description {
        position: absolute;
        bottom: -25px;
        @extend %logo-font;
        @include font-size(1.3rem, 700);
        color: $logo-text-color;
        text-transform: uppercase;
      }
    }

    .header__info {
      @include alignment(space-between, flex-start, row, wrap);
      width: 100%;
      padding-left: 240px;
      margin-bottom: 29px;

      .info__menu {
        display: none;

        .menu__burger {
          .burger__line {
            @extend %transition;
          }

          .burger__switcher {
            &:checked {
              ~ .burger__line {
                @extend %transition;
              }
            }
          }
        }
      }

      .info__navigation {
        @include alignment(space-between, center, row, wrap);
        row-gap: 10px;
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-navigation-bg-color;
        @extend %transition;

        .navigation__links {
          @include alignment(space-between, flex-start, row, wrap);
          column-gap: 21px;
          font-size: 0;

          .links__item {
            @include font-size(1.2rem, 400);
            text-align: center;

            a {
              color: $link-text-color;
              @extend %transition;

              &:hover {
                color: $hover-link-color;
              }
            }
          }
        }

        .navigation__authorization {
          @include alignment(space-between, flex-start, row, nowrap);
          column-gap: 12px;

          .authorization__item {
            @include font-size(1.2rem, 400);

            a {
              color: $link-text-color;
              @extend %transition;

              &:hover {
                color: $hover-link-color;
              }
            }
          }
        }
      }

      .info__description {
        @include alignment(flex-start, flex-start, row, wrap);
        column-gap: 20px;
        row-gap: 20px;
        width: 100%;

        .description__banner {
          width: 253px;
          height: 70px;
          background-color: $banner-bg-color;
        }

        .description__counter {
          @include alignment(space-between, flex-start, column, nowrap);
          row-gap: 8px;
          margin-left: 15px;
          font-size: 0;

          .counter__item {
            a {
              position: relative;
              padding-left: 25px;
              color: $link-text-color;
              letter-spacing: -0.1px;

              &::before {
                position: absolute;
                top: 50%;
                content: '';

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: translateY(-50%);
                @extend %transition;
              }

              &::after {
                position: absolute;
                bottom: 1px;
                right: 0;
                width: calc(100% - 25px);
                height: 1px;
                content: '';
                background-color: $link-text-color;
              }
            }
          }

          .count {
            @include font-size(1.4rem, 400);

            a {
              &::before {
                left: -4px;
                width: 17px;
                height: 17px;
                background-image: url('./assets/icons/basket.svg');
              }

              &::after {
                bottom: 2px;
              }

              &:hover {
                &::before {
                  background-image: url('./assets/icons/basket-hover.svg');
                }
              }
            }
          }

          .favorites {
            @include font-size(1.2rem, 400);

            a {
              &::before {
                left: -1px;
                width: 15px;
                height: 15px;
                background-image: url('./assets/icons/star.svg');
              }

              &:hover {
                &::before {
                  background-image: url('./assets/icons/star-hover.svg');
                }
              }
            }
          }

          .compare {
            @include font-size(1.2rem, 400);

            a {
              &::before {
                left: -2px;
                width: 17px;
                height: 17px;
                background-image: url('./assets/icons/scales.svg');
              }

              &:hover {
                &::before {
                  background-image: url('./assets/icons/scales-hover.svg');
                }
              }
            }
          }
        }

        .description__items {
          @include alignment(space-between, center, row, nowrap);
          column-gap: 15px;
          margin-left: 15px;

          .items__tool {
            @include alignment(center, center, row, nowrap);
            width: 70px;
            height: 70px;
            border: 1px solid $border-item-bg-color;
            background-color: $primary-bg-color;
            @extend %transition;
            cursor: pointer;

            &:hover {
              transform: scale(1.3);
            }

            img {
              width: 82%;
              height: auto;
            }
          }
        }

        .description__contact {
          @include alignment(space-between, flex-start, row, wrap);
          width: 184px;
          margin-left: 35px;
          font-size: 0;

          .contact__text {
            @include font-size(1.1rem, 900);
            color: $other-text-color;
            line-height: 10px;
            letter-spacing: 0.3px;
          }

          .contact__time {
            @include font-size(1.1rem, 500);
            color: $other-text-color;
            line-height: 10px;
            letter-spacing: 0.2px;
          }

          .contact__phone {
            margin-top: 13px;
            margin-bottom: 2px;
            padding-bottom: 9px;
            border-bottom: 1px solid $border-phone-bg-color;
            @include font-size(2.5rem, 700);

            a {
              color: $link-text-color;
              letter-spacing: -0.5px;
            }
          }

          .contact__location {
            @include font-size(1.2rem, 400);
            color: $other-text-color;
            letter-spacing: 0.05px;
          }

          .contact__option {
            position: relative;
            @include font-size(1.2rem, 400);
            color: $other-text-color;
            letter-spacing: 0.05px;

            button {
              position: relative;
              padding: 0;
              padding-left: 10px;
              cursor: pointer;

              &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                width: 7px;
                height: 7px;
                background-image: url('./assets/icons/arrow.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: translateY(-50%);
                transform-origin: 50%, 50%;
                @extend %transition;
              }

              &::after {
                position: absolute;
                bottom: 2px;
                right: 0;
                width: 82%;
                height: 1px;
                content: '';
                background-image: linear-gradient(
                  to right,
                  $other-text-color 50%,
                  transparent 50%
                );
                background-repeat: repeat-x;
                background-size: 2px 2px;
                @extend %transition;
              }

              &:hover {
                &::before {
                  background-image: url('./assets/icons/arrow-hover.svg');
                  transform: translateY(-50%) rotate(90deg);
                }

                &::after {
                  background-image: linear-gradient(
                    to right,
                    $hover-underline-color 50%,
                    transparent 50%
                  );
                }
              }
            }

            .option__dropdown {
              z-index: 1;
              position: absolute;
              top: 0;
              left: -2px;
              display: none;
              background-color: $primary-bg-color;
              min-width: 100px;
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

              .dropdown__item {
                padding: 12px 16px;
                cursor: pointer;
                @extend %transition;

                &:hover {
                  background-color: $hover-dropdown-bg-color;

                  button {
                    &::before {
                      display: none;
                    }
                  }
                }
              }
            }

            &:hover {
              .option__dropdown {
                display: block;
              }
            }
          }
        }
      }
    }

    .header__tools {
      @include alignment(center, center, row, wrap);
      width: 100%;
      font-size: 0;

      .tools__search,
      .tools__item,
      .tools__sale {
        @include alignment(center, center, row, nowrap);
        flex-grow: 1;
        height: 34px;
        @include font-size(1.4rem, 400);
        -webkit-text-stroke: 0.01px $tab-text-color;
        @extend %transition;
        cursor: pointer;
      }

      .tools__search {
        flex-grow: 0;

        form {
          @include alignment(center, center, row, nowrap);
        }

        input[type='submit'] {
          height: 34px;
          width: 39px;
          color: transparent;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: $active-bg-color;
          background-image: url('./assets/icons/search.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px 22px;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }

        input[type='text'] {
          height: 34px;
          width: 59px;
          padding: 0 10px;
          background-color: $tools-bg-color;
          color: $input-text-color;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        }
      }

      .tools__item {
        color: $tab-text-color;
        background-color: $tools-bg-color;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

        &:hover {
          color: $active-tab-text-color;
          -webkit-text-stroke: 0.5px $active-tab-text-color;
          background-color: $active-bg-color;
        }
      }

      .tools__sale {
        width: 81px;
        text-transform: uppercase;
        -webkit-text-stroke: 0.5px $active-tab-text-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $active-bg-color;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

        a {
          color: $sale-text-color;
        }
      }

      .active-link {
        color: $active-tab-text-color;
        -webkit-text-stroke: 0.5px $active-tab-text-color;
        background-color: $active-bg-color;
      }
    }
  }
}
