.header .header__wrapper .header__info .info__menu .menu__burger .burger__line, .header .header__wrapper .header__info .info__menu .menu__burger .burger__switcher:checked ~ .burger__line, .header .header__wrapper .header__info .info__navigation, .header .header__wrapper .header__info .info__navigation .navigation__links .links__item a, .header .header__wrapper .header__info .info__navigation .navigation__authorization .authorization__item a, .header .header__wrapper .header__info .info__description .description__counter .counter__item a::before, .header .header__wrapper .header__info .info__description .description__items .items__tool, .header .header__wrapper .header__info .info__description .description__contact .contact__option button::before, .header .header__wrapper .header__info .info__description .description__contact .contact__option .option__dropdown .dropdown__item, .header .header__wrapper .header__tools .tools__search,
.header .header__wrapper .header__tools .tools__item,
.header .header__wrapper .header__tools .tools__sale {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header .header__wrapper .header__logo .logo__description {
  font-family: 'HeliosCond', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  border: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    max-width: 300px;
  }
}

.header .header__wrapper {
  position: relative;
  padding: 16px 135px 16px 135px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.header .header__wrapper .header__logo {
  position: absolute;
  top: 20px;
  left: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 210px;
  height: 112px;
  background-color: #ffcc00;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .header__wrapper .header__logo .logo__image {
  width: 95px;
  height: 95px;
  background-image: url("./assets/icons/logo.svg");
  background-repeat: no-repeat;
}

.header .header__wrapper .header__logo .logo__description {
  position: absolute;
  bottom: -25px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.header .header__wrapper .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-left: 240px;
  margin-bottom: 30px;
}

.header .header__wrapper .header__info .info__menu {
  display: none;
}

.header .header__wrapper .header__info .info__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;
}

.header .header__wrapper .header__info .info__navigation .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  font-size: 0;
}

.header .header__wrapper .header__info .info__navigation .navigation__links .links__item {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.header .header__wrapper .header__info .info__navigation .navigation__links .links__item a {
  color: #252525;
}

.header .header__wrapper .header__info .info__navigation .navigation__links .links__item a:hover {
  color: #ffcc00;
}

.header .header__wrapper .header__info .info__navigation .navigation__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.header .header__wrapper .header__info .info__navigation .navigation__authorization .authorization__item {
  font-size: 1.2rem;
  font-weight: 400;
}

.header .header__wrapper .header__info .info__navigation .navigation__authorization .authorization__item a {
  color: #252525;
}

.header .header__wrapper .header__info .info__navigation .navigation__authorization .authorization__item a:hover {
  color: #ffcc00;
}

.header .header__wrapper .header__info .info__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  width: 100%;
}

.header .header__wrapper .header__info .info__description .description__banner {
  width: 253px;
  height: 70px;
  background-color: #e2e2e2;
}

.header .header__wrapper .header__info .info__description .description__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0;
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item {
  font-size: 1.4rem;
  font-weight: 400;
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item a {
  position: relative;
  padding-left: 25px;
  color: #252525;
  text-decoration: underline;
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item a::before {
  position: absolute;
  top: 50%;
  left: 0px;
  content: '';
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(1) a::before {
  background-image: url("./assets/icons/basket.svg");
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(1) a:hover::before {
  background-image: url("./assets/icons/basket-hover.svg");
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(2) a::before {
  background-image: url("./assets/icons/star.svg");
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(2) a:hover::before {
  background-image: url("./assets/icons/star-hover.svg");
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(3) a::before {
  background-image: url("./assets/icons/scales.svg");
}

.header .header__wrapper .header__info .info__description .description__counter .counter__item:nth-child(3) a:hover::before {
  background-image: url("./assets/icons/scales-hover.svg");
}

.header .header__wrapper .header__info .info__description .description__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.header .header__wrapper .header__info .info__description .description__items .items__tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 70px;
  height: 70px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  cursor: pointer;
}

.header .header__wrapper .header__info .info__description .description__items .items__tool:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header .header__wrapper .header__info .info__description .description__items .items__tool img {
  width: 80%;
  height: auto;
}

.header .header__wrapper .header__info .info__description .description__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 184px;
  margin-left: 36px;
  font-size: 0;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #252525;
  letter-spacing: 0.05px;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__time {
  font-size: 1.2rem;
  font-weight: 400;
  color: #252525;
  letter-spacing: 0.05px;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__phone {
  margin-bottom: 4px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 52px;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__phone a {
  color: #252525;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__location {
  font-size: 1.2rem;
  font-weight: 400;
  color: #252525;
  letter-spacing: 0.05px;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  color: #252525;
  letter-spacing: 0.05px;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option button {
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option button::before {
  position: absolute;
  top: 50%;
  left: 0px;
  content: '';
  width: 7px;
  height: 7px;
  background-image: url("./assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: 50%, 50%;
          transform-origin: 50%, 50%;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option button:hover::before {
  background-image: url("./assets/icons/arrow-hover.svg");
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option .option__dropdown {
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
  background-color: #ffffff;
  min-width: 100px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option .option__dropdown .dropdown__item {
  padding: 12px 16px;
  cursor: pointer;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option .option__dropdown .dropdown__item:hover {
  background-color: #e2e2e2;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option .option__dropdown .dropdown__item:hover button::before {
  display: none;
}

.header .header__wrapper .header__info .info__description .description__contact .contact__option:hover .option__dropdown {
  display: block;
}

.header .header__wrapper .header__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 0;
}

.header .header__wrapper .header__tools .tools__search,
.header .header__wrapper .header__tools .tools__item,
.header .header__wrapper .header__tools .tools__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 34px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.header .header__wrapper .header__tools .tools__search {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header .header__wrapper .header__tools .tools__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .header__wrapper .header__tools .tools__search input[type='submit'] {
  height: 34px;
  width: 39px;
  color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ffcc00;
  background-image: url("./assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header .header__wrapper .header__tools .tools__search input[type='text'] {
  height: 34px;
  width: 59px;
  padding: 0 10px;
  background-color: #252525;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.header .header__wrapper .header__tools .tools__item {
  color: #ffffff;
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.header .header__wrapper .header__tools .tools__item:hover {
  color: #000000;
  background-color: #ffcc00;
}

.header .header__wrapper .header__tools .tools__sale {
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffcc00;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.header .header__wrapper .header__tools .tools__sale a {
  color: #000000;
}

.header .header__wrapper .header__tools .active-link {
  color: #000000;
  background-color: #ffcc00;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header .header__wrapper {
    padding: 16px 80px 16px 80px;
  }
  .header .header__wrapper .header__logo {
    left: 185px;
  }
  .header .header__wrapper .header__info .info__navigation .navigation__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__wrapper .header__info .info__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__wrapper .header__info .info__description .description__contact {
    margin-left: 0;
  }
  .header .header__wrapper .header__tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__wrapper .header__tools .tools__search,
  .header .header__wrapper .header__tools .tools__item,
  .header .header__wrapper .header__tools .tools__sale {
    width: 100%;
  }
  .header .header__wrapper .header__tools .tools__search form input[type='submit'] {
    width: 50px;
    border-bottom-left-radius: 0;
  }
  .header .header__wrapper .header__tools .tools__search form input[type='text'] {
    width: 200px;
    border-top-right-radius: 10px;
  }
  .header .header__wrapper .header__tools .tools__sale {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .header__wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px 30px 16px 30px;
  }
  .header .header__wrapper .header__logo {
    position: static;
    left: initial;
    margin-bottom: 50px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .header__wrapper .header__info {
    padding-left: 0;
  }
  .header .header__wrapper .header__info .info__menu {
    z-index: 15;
    display: block;
    position: fixed;
    right: 15px;
    top: 36px;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger {
    display: block;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger:hover .burger__line {
    background-color: #ffcc00;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #252525;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .line-top {
    top: 0;
    right: 0;
    -webkit-transform-origin: 83%;
            transform-origin: 83%;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .line-middle {
    top: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .line-bottom {
    bottom: 0;
    right: 0;
    -webkit-transform-origin: 83%;
            transform-origin: 83%;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .burger__switcher {
    display: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .burger__switcher:checked ~ .line-top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 33px;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .burger__switcher:checked ~ .line-middle {
    -webkit-transform: translateY(-50%) translateX(-100%);
            transform: translateY(-50%) translateX(-100%);
    opacity: 0;
  }
  .header .header__wrapper .header__info .info__menu .menu__burger .burger__switcher:checked ~ .line-bottom {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 33px;
  }
  .header .header__wrapper .header__info .info__navigation {
    z-index: 9;
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header .header__wrapper .header__info .info__navigation .navigation__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  .header .header__wrapper .header__info .active-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .header__wrapper .header__info .info__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__wrapper .header__info .info__description .description__contact {
    margin-left: 0;
  }
  .header .header__wrapper .header__tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__wrapper .header__tools .tools__search,
  .header .header__wrapper .header__tools .tools__item,
  .header .header__wrapper .header__tools .tools__sale {
    width: 100%;
  }
  .header .header__wrapper .header__tools .tools__search {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .header__wrapper .header__tools .tools__search form input[type='submit'] {
    width: 50px;
    border-bottom-left-radius: 0;
  }
  .header .header__wrapper .header__tools .tools__search form input[type='text'] {
    width: 150px;
    border-top-right-radius: 10px;
  }
  .header .header__wrapper .header__tools .tools__sale {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */