html {
  font-size: 10px;
}

body {
  @extend %main-font;
  @include font-size(1.6rem, 400);
  background-color: $primary-bg-color;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  border: none;
}
